@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Bodoni+Moda:opsz@6..96&family=EB+Garamond&family=Lato:ital,wght@0,100;0,300;1,100&family=Quicksand:wght@300&display=swap');
* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

/* NAVBAR */
:root {
  --mainColor: rgb(203, 223, 210);
  --mainColorLight: rgba(32, 32, 32, 0.2);
  --secondaryColor: rgb(203, 223, 210);
  --textColor: rgb(122, 110, 110);
  --mainFont: 'Bodoni Moda', serif;
  --secondaryFont: 'Quicksand', sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  padding: 0 2rem;
  color: var(--textColor);
  font-family: var(--secondaryFont);
  font-size: clamp(.5rem, 2.5vw, 1rem); 
}

nav a {
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
}


/* QUOTE */
.quote1 {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 2.5vw, 2rem); 
  text-align: center;
  font-family: var(--mainFont);
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--textColor);
  background: linear-gradient(to bottom, white 51%, rgb(203, 223, 210) 49%); 
}

/* ABOUT */
.about-info {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-info p {
  font-family: var(--secondaryFont);
}

#col {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.belu-picture {
  height: 20rem;
  border-radius: 10px;
  margin: 1rem 1rem;
}

.col1,
.col2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name h1{
  font-family: var(--mainFont);
  font-weight: 200;
}
.title h3{
  font-family: var(--mainFont);
  font-style: italic;
  font-weight: 100;
}


/* SERVICES */
.services-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.all-services {
  display: flex;
  justify-content: center;
  align-items: center;
}

.all-services h3 {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.5rem;
}

.all-services p {
  font-family: var(--secondaryFont);

}

.service1,
.service2,
.service3 {
  flex: 1;
  height: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 3rem;
  font-family: var(--mainFont);
}

.service1 {
  background-color: rgb(204, 198, 198);
}
.service2 {
  background-color: rgb(250, 220, 214);
}

.service3 {
  background: rgb(220, 204, 192);
}

/* FEEDBACK */
.feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-family: var(--mainFont);
  font-size: 2.5rem;
  text-align: center;
}

/* CONTACT */
.contact-me {
  height: 50vh;
  background-color: var(--mainColor);
}

.contact-me h1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--mainFont);
  font-weight: 200;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

