@import url('https://fonts.googleapis.com/css2?family=Arapey&family=Lato:ital,wght@0,100;0,300;1,100&display=swap');
* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

/* NAVBAR */
:root {
  --mainColor: rgb(203, 223, 210);
  --mainColorLight: rgba(32, 32, 32, 0.2);
  --secondaryColor: rgb(203, 223, 210);
  --textColor: rgb(122, 110, 110);
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  padding: 0 2rem;
  color: var(--textColor);
  font-size: clamp(.5rem, 2.5vw, 1rem); 
}

nav a {
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
}


/* QUOTE */
.quote1 {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(1rem, 2.5vw, 2rem); 
  text-align: center;
  font-family: 'Lato', serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: var(--textColor);
  background: linear-gradient(to bottom, white 51%, rgb(203, 223, 210) 49%); 
}

/* ABOUT */
.about-info {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0rem 2rem;
}

/* SERVICES */
.services-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.all-services {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service1,
.service2,
.service3 {
  height: 100%;
}

.service1 {
  background-color: bisque;
}


